/* UNIVERSALISTS */
:root {
    --color-primary: #05a3bf;
    --color-secondary: #ffffff;
    --text-primary: #1e1d1d;
    --shadow-color: #00000080;
    --fancy-font: 'Lobster', cursive;
    --normal-font: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a:hover {
    cursor: pointer;
}

.mega-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
}

/* ICONS */

.social-icon {
    width: 3vw;
    height: auto;
}

.project-icon {
    width: 5vw;
    height: auto;
}

.contact-icon {
    width: 5vw;
    height: auto;
}

.contact-social-icon {
    width: 5vw;
    height: auto;
}

/* ABOUT */

.about-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
}

.about-container:before {
    content: '';
    position: absolute;
    top: -35%;
    left: -20%;
    width: 150%;
    height: 125%;
    background-color: var(--color-primary);
    box-shadow: 0 0 10px var(--shadow-color);
    z-index: -1;
    transform: rotate(-15deg);
}

.the-name {
    font-size: 2.75rem;
    color: var(--color-secondary);
    font-family: var(--fancy-font);
    z-index: 3;
    position: relative;
    top: -15%;
    left: 16%;
}

.about-pic {
    width: 250px;
    height: 250px;
    object-fit: cover;
    z-index: 2;
    box-shadow: 0 0 10px var(--shadow-color);
    margin-top: 4rem;
    margin-left: 4rem;
    position: relative;
}

.about-me-div {
    background-color: var(--color-secondary);
    padding: 1rem;
    box-shadow: 0 0 10px var(--shadow-color);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 7rem 2rem 6rem 0rem;
    height: 25vh;
    box-sizing: content-box;
    min-width: 40vw;
}

.about-head {
    font-size: 2rem;
    font-family: var(--fancy-font);
    color: var(--text-primary);
    margin-bottom: 1rem;
}

.about-socials {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.social-link {
    padding-left: 0.5rem;;
}

/* WORK */

.work-container {
    background-color: var(--color-secondary);
}

/* CONTACT */

.contact-container {
    background-color: var(--color-primary);
}

.contact-pic {
    width: 300px;
    height: auto;
}